<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="www/css/style.css" type="text/css">
	  <link rel="stylesheet" href="{$basePath}/css/style.css">
	
	<title>Document</title>
</head>
<body>

<header>
	<h1>Můj blog</h1>
</header>

<nav>
	<ul class="navigation">
		<li><a href="{link Home:}">Články</a></li>
		{if $user->isLoggedIn()}
			<li><a href="{link Sign:out}">Odhlásit</a></li>
		{else}
			<li><a href="{link Sign:in}">Přihlásit</a></li>
		{/if}
		
	</ul>
</nav>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
	{$flash->message}
</div>

{include content}

</body>
</html>
